*{
    margin: 0 auto;
    padding: auto;
    box-sizing: border-box;
  }

  body{
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #fdf2e9;
    min-height: 100vh;
  }

  .fixed-top{
    width: 100%;
  }

  nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 8vh;
      width: 100%;
      background-color: darksalmon;
      font-family: 'Montserrat', sans-serif;
  }

  .navlinks img{
      height: 3.5rem;
  }

  .navlinks{
      display: flex;
      width: 90%;
      justify-content: space-around;
      align-items: center;
      list-style: none;
      letter-spacing: 0.5rem;
  }

  .navlinks a{
      color: #000000;
      text-decoration: none;
      font-size: 0.8rem;
      transition: all 0.5s ease-in;
  }

  .navlinks a:hover,
  .navlinks a:focus {
      color: aliceblue;
      font-size: 0.9rem;
      text-decoration: underline;
  }

  .burger{
      display: none;
      cursor: pointer;
  }

  .logo{
    display: none;
  }

  .burger div{
    background-color: #000000;
    height: 3px;
    width: 25px;
    margin: 5px;
  }

  .parallax{
    background-attachment: fixed;
    background-image: url();
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
  }

  .fab{
    text-decoration: none;
    color: white;
  }

  .far{
    text-decoration: none;
    color: white;
  }

  .fa-whatsapp{
    color: green;
  }

  .fas{
    text-decoration: none;
    color: #1A1A1A;
    font-family: 'Montserrat', sans-serif;
  }

  .productList{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .productList ul{
    width: 90%;
    padding: 5%;
  }

  .productList ul li{
    justify-content: stretch;
  }
.prodhome{
  width: 95%;
  padding-left: 5%;
}
.thumbnail{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10vh;
}

.thumbnail img{
    height: 50vh;
}

.caption{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.clearfix{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.clearfix .btn{
  margin: 5%;
}

  .container{
    padding-top: 20vh;
    padding-left: 0;
    padding-right: 0;
  }

  /*.flex-container{
    display: flex;
    flex-direction: column;
  }*/

  /*
  nav{
    opacity: 0.9;
    z-index: 1;
    display: flex;
  }
  */
  /*
  nav img {
    display: flex;
    height: 3.5rem;
    align-items: center;
  }



  .nav-item{
    display: flex;
    align-items: center;
  }
  */
  .bd-example{
    z-index: 0;
  }

  .carousel-item{
    width: 100%;
    height: 100vh;
  }

  .main{
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 320px;
    height: auto;
  }

  article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #fdf2e9;
    background-size: cover;
  }

  article p{
    display: flex;
    justify-content: center;
    font-family: "Amatic SC", "cursive", sans-serif;
    font-size: 2rem;
  }

  .articulos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .destacado{
    flex-direction: column;
    background-color: #fdf2e9;
    background-size: cover;
  }

  .precio{
    color: red;
  }

  .descripcion{
    font-weight: bold;
  }

  article img{
    width: 90%;
    height: auto;
    margin: 1% 2.5% 1% 2.5%;
  }

  .sin-carousel{
    padding-top: 100px;
    height: auto;
    width: 100%;
  }

  .ingreso{
    max-width: 320px;
  }

  /*.registro{
    max-width: 320px;
  }
  */
  /*
  nav ul{
    font-size: 1.2rem;
  }
  */
  article.titulo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #fdf2e9;
    background-size: cover;
  }

  article.preguntas{
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #fdf2e9;
    background-size: cover;
    margin-left: 5%;
    margin-right: 5%
  }

  p.pregunta{
    font-family: 'Norican', cursive;
    font-size: 1.3rem;
    font-weight: bold;
  }

  p.respuesta{
    font-size: 1.2rem;
    color: grey;

  }

  span{
    color: gray;
    max-width: 320px;
    height: 2rem;
  }

  /*footer*/
  footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    line-height: 0.8rem;
    background-color:#1A1A1A;
    width: 100%;
    max-height: 25%;
    color: white;
    position: relative;
    margin-bottom: 0;
    z-index: 1;
  }

  .fmain{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .contact{
    display: flex;
    flex-direction: column;
    min-width: 50%;
    order: 1;
  }

  .social{
    display: flex;
    flex-direction: column;
    min-width: 50%;
    order: 2;
    justify-content: space-around;
  }

  .fsocial{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .fsocial ul{
    list-style: none;
    display: flex;
    flex-direction: row;
  }

  .fsocial li{
    margin: 0rem auto;
    padding: 1rem 2rem 1rem 0rem;
    text-align: center;
  }

  .legal{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 90%;
    order: 3;
  }
  /*footer*/

  .btn-whatsapp {
  display:block;
  position: fixed;
  right:20px;
  bottom:20px;
  z-index: 2;
  }

  @media only screen and (max-width : 768px)/* and (max-device-width : 1024px) and (orientation : landscape)*/ {
    body{
      overflow-x: hidden;
    }
    /*navstyles*/

    .main{
      margin-top: 10vh;
    }

    article img{
      width: 40%;
      height: auto;
      margin-left: 2.5%;
      margin-right: 2.5%;
      float: left;
    }
    section {
      width: 100%;
      overflow: hidden;
      margin-bottom: 10px;
    }

    body{
      overflow-x: hidden;
    }

    nav
      {
        display: flex;
        align-items: center;
      }

    .logo{
        display: flex;
    }

    .logo img{
        height: 3.5rem;
    }

    .navlinks img{
      visibility: hidden;
      display: none;
  }

    .navlinks{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: darksalmon;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transition: transform 0.5s ease-in;
        -webkit-transition: transform 0.5s ease-in;
    }

    .burger{
        display: block;
    }
    /*
    label{
        display: block;
        cursor: pointer;
    }

    #toggle:checked + .nav-links{
        transform: translateX(0%);
        transition: all 0.5s ease-in;
    }
    */

    .bd-example{
      display: none;
    }
  }

  .nav-active{
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transition: transform 0.5s ease-in;
    -webkit-transition: transform 0.5s ease-in;
  }



  @media only screen and (min-device-width : 1200px) {
    article img{
      width: 60%;
      height: auto;
      margin-left: 2%;
      margin-right: 2%;
      float: left;
    }
    section {
      width: 100%;
      overflow: hidden;
      margin-bottom: 10px;
    }
    .main{
      width: 100%;
      overflow: hidden;
      margin-bottom: 10px;
    }
  }
  

  /*-----------> Acá arranca el CSS del CARRITOUU <------------*/

  
  body{}
  h1{margin-bottom:50px;}
  #cart-container{width:80%;margin:0 10%;}
  .cart-item{width:100%;float:left;}
  .pic{margin:0;padding:0;float:left;}
  .pic, .item-details, .item-quantity, .item-actions{display:inline-block;float:left;}
  .pic{height:80px;width:80px;border:1px solid #e2e2e2;margin:0 20px 0 0px;}
  .item-details{width:55%;}
  .item-details h3{text-transform:uppercase;margin:0; padding:0;}
  .item-quantity{width:5%;margin:0 3%;}
  .item-quantity input{width:100%;min-height:80px;text-align:center;font-size:1.5em;}
  .item-actions ul{padding:0;margin:0 20px;}
  .item-actions ul li{list-style-type:none;}
  .item-actions button{border:1px solid #e2e2e2;text-decoration:none;padding:8%;min-width:100%;text-align:justify;}
  .item-actions a{text-decoration: none;}
  hr{margin:20px 0;border:1px dotted #e2e2e2;width:90%;}
  #final-action{text-align:right;width:90%;}
  #final-action button{padding:1%;}
  
  /* Media queries */
  
  @media screen and (min-width: 320px) and (max-width: 480px) {
    .pic{width:100%;height:auto;margin:0;padding:0;}
    .item-details{width:90%;padding:5%;text-align:justify;}
    .item-quantity{width:90%;margin:0 10px;border:1px solid #ccc;padding:1%;}
    .item-quantity input{min-height:auto;width:100%;padding:0;margin:0;}
    .item-actions{text-align:center;margin:10px 0;width:100%;padding:0;}
    .item-actions ul{margin:0;display:flex;text-align: center;}
    .item-actions ul li{margin:0;width:40%;padding:0;margin:0 5%;text-align:center;}
    .item-actions ul li button{padding:5%;width:auto;}
  }
  
  @media screen and (min-width: 480px) and (max-width: 600px) {
    .pic{width:100%;height:auto;}
    .item-details{width:100%;padding:5%;}
    .item-quantity, .item-actions button{width:35%;text-align:right;}
    .item-actions button, .item-quantity input{padding:5%;height:auto;min-height:auto;font-size:.75em;}
    #final-action{text-align:center;}
  } 
   
  @media screen and (min-width: 600px) and (max-width: 960px) {
    .item-details{width:85%; text-align:justify;}
    .item-quantity{margin:0;}
    .item-quantity input{min-height:auto;margin-bottom:20px;}
    .item-actions{float:right;}
    .item-actions ul{display:flex;flex-direction: row;width:90%;}
    .item-actions ul li{margin:0 10px;padding:0;width:100%;}
    hr{margin:30px 0;width:100%;}
    .item-actions button{padding:8%;}
  }  